{% extends 'temp/club manage.html' %}
{% block base %}
<html>
<head>
</head>
<body style="background-color: #1C1E32">
	<center>
		<h1 style="color: darkorange">POST ADVERTISEMENT</h1>
		<form method="post"enctype="multipart/form-data">
            {% csrf_token %}
			<table>
                <tr>
					<td>INFORMATIONS</td>
					<td><input type="text" name="name" required=""></td>
				</tr>
                <tr>
                    <td>IMAGE</td>
					<td><input type="file" name="clubimage" required=""></td>
				</tr>
				<tr>
					<td>CONTACT NUMBER</td>
					<td><input type="text" name="o" minlength="10" maxlength="10" pattern="[0-9]{10}" required="">
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit"></td>
				</tr>
			</table>
		</form>
	</center>

</body>
</html>
 {% endblock %}