{% extends 'temp/user.html' %}
{% block base %}
<html>
<head>
	</head>
	<center>
    <br>
		<h1 style="color:darkorange">BOOKING STATUS</h1>
    <br>
		<body style="background-color: #1C1E32">
        <br>
			<table border="1">
				<tr>
                    <th><center>USER NAME</center></th>
					<th><center>FROM TIME</center></th>
					<th><center>TO TIME</center></th>
{#					<th>TIME</th>#}
                    <th><center>DATE</center></th>
{#                    <th>Amount</th>#}
                    <th><center>STATUS</center></th>

				</tr>
                {% for i in b %}
                <tr>
{#                <td><center>{{ i.club_id }}</center></td>#}
                <td><center>{{ i.user.user_name}}</center></td>
                <td><center>{{ i.from_time }}</center></td>
                <td><center>{{ i.to_time }}</center></td>
                <td><center>{{ i.date }}</center></td>
                    <td><center>{{ i.status }}</center></td>
                </tr>
                {% endfor %}
			</table>
		</body>
	</center>
	</html>
{% endblock %}